<div class="header-Container">
<div class="burger-Container">
    <div class="burger">
        <!-- <i class="fa-solid fa-bars"></i> -->
        <!-- Alternativa de icono burger con span como barras -->
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>