<footer>
    <div class="footer-Container">
        <p class="copy">Copyright © 2022 GamerXperience S.R.L.</p>
        <div class="redes">
            <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i> </a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i> </a>
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i>
            </a>
        </div>
    </div>
</footer>