<header>
    <div class="burger">
        <!-- <i class="fa-solid fa-bars"></i> -->
        <!-- Alternativa de icono burger con span como barras -->
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
        <!-- Requiriendo JS handleClick para burgerMenu -->
    <script src="/js/burger.js"></script>

    <a href="/" class="logo-Container">
        <div class="logo">
            
        </div>
    </a>
    <div class="headerActions-Container">
    <div class="cart"><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></div>
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div>
<nav class="navbar">
    <!--Podrian ir links a productos destacados de cada uno?-->
    <a href="/products" class="navbar-a" id="products">PRODUCTOS</a>
    <a href="/products/list/keyboard" class="navbar-a">TECLADOS</a>
    <a href="/products/list/mouse" class="navbar-a">MOUSE</a>
    <a href="/products/list/chair" class="navbar-a">SILLONES</a>
    <a href="/products/list/headset" class="navbar-a">AURICULARES</a>
    <div class="userPanel">
        <% if(locals.isLogged) { %>
            <div class="profile">
                <a href="/users/profile">
                    <div class="userProfile">
                        <img src="/img/usersAvatar/<%= locals.userLogged.dataValues.user_avatar %>">
                    </div>
                </a>
            </div>
        <% } else { %>
                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
            <% } %>
    </div>
</nav>
</header>