<header>
    <div class="burger"><i class="fa-solid fa-bars"></i></div>
    <a href="/">
        <div class="logo"></div>
    </a>

    <div class="cart"><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></div>
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="userPanel">
        <% if(locals.isLogged) { %>
            <div class="profile">
                <a href="/users/profile">
                    <div class="userProfile">
                        <img src="/img/usersAvatar/<%= locals.userLogged.userAvatar %>">
                    </div>
                </a>
            </div>
        <% } else { %>
                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
            <% } %>
    </div>

    <nav class="navbar">
        <!--Podrian ir links a productos destacados de cada uno?-->
        <a href="/products/list/keyboard">TECLADOS</a>
        <a href="/products/list/mouse">MOUSE</a>
        <a href="/products/list/chair">SILLONES</a>
        <a href="/products/list/headset">AURICULARES</a>
        <a href="/products">PRODUCTOS</a>
    </nav>
</header>