<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamerXperience</title>
    <link rel="shortcut icon" href="/brand/iso-bubble-negative.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/cart.css" />
    <script src="https://kit.fontawesome.com/d5d519f54c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <a href="#">
            <img id="logo" src="\img\iso-light.svg" />
        </a>
    </header>
</body>
</html>