<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>GamerXperience</title>
  <link rel="shortcut icon" href="/img/bubble-light.svg" type="image/x-icon" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/d5d519f54c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="burger"><i class="fa-solid fa-bars"></i></div>
    <a href="/">
      <div class="logo"></div>
    </a>

    <div class="cart"><a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a></div>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <a href="/login"><i class="fa-solid fa-user"></i></a>

    <nav class="navbar">
      <!--Podrian ir links a productos destacados de cada uno?-->
      <a href="/product_detail_keyboard">TECLADOS</a>
      <a href="/product_detail_mouse">MOUSE</a>
      <a href="/product_detail_gamingchair">SILLONES</a>
      <a href="/product_detail_headset">AURICULARES</a>
    </nav>
  </header>

  <main>
    <div class="slideshow-container">
      <!-- OPCION SLIDE OFERTAS -->
      <!-- <div class="mySlides fade">
        <div class="slide-info slide-1">
          <h1>LAS MEJORES OFERTAS</h1>
          <p>En Gamer Experience renovamos nuestras ofertas para que puedas llevarte eso que siempre quisiste.</p>
          <a href="/">
            <button type="submit">Explora nuestras ofertas</button>
          </a>
        </div>
        <div class="carrousel-imgs">
          <img src="/img/carousel_slide_1.jpg" />
        </div>
      </div> -->
      <div class="mySlides fade">
        <div class="slide-info slide-1">
          <h1>VOS LO SOÑAS</h1>
          <h2>Nosotros lo hacemos realidad.</h2>
          <a href="/register">
            <button type="submit">UNITE A LA FAMILIA GX</button>
          </a>
        </div>
        <div class="carrousel-imgs">
          <img src="/img/carousel_slide_1.jpg" />
        </div>
      </div>
      <div class="mySlides fade">
        <div class="slide-info slide-2">
          <h1>EQUIPATE PARA GANAR</h1>
          <a href="/">
            <button type="submit">NUESTROS PRODUCTOS</button>
          </a>
        </div>
        <div class="carrousel-imgs">
          <video autoplay muted loop>
            <source src="/img/carousel_slide_2.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="slide-info slide-3">
          <h1>TECLADOS PREMIUM</h1>
          <a href="/product_detail_keyboard">
            <button type="submit">CONOCELOS</button>
          </a>
        </div>
        <div class="carrousel-imgs">
          <video autoplay muted loop>
            <source src="/img/carousel_slide_3.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="slide-info slide-4">
          <h1>ESTAMOS JUNTO A TU EQUIPO</h1>
          <p>Atencion personalizada y descuentos especiales para equipos de e-sports.</p>
          <a href="/">
            <button type="submit">CONTACTANOS</button>
          </a>
        </div>
        <div class="carrousel-imgs">
          <img src="/img/carousel_slide_4.jpg" />
        </div>
      </div>
      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-style">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
    </div>
    </div>
    <!-- Slideshow container -->

    <section class="ofertas">
      <h2>OFERTAS</h2>
      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_Keyboard_REDRAGON_FIZZ_K617_1.webp" />
        <div class="general">
          <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
          <h3 class="descripcion">TECLADO RD</h3>
        </div>
      </div>
      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_Mouse_REDRAGON_STORM_M808_1.webp" />
        <div class="general">
          <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
          <h3 class="descripcion">MOUSE RD</h3>
        </div>
      </div>
      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_Headset_REDRAGON_H510_ZEUS-X_1.webp" />
        <div class="general">
          <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
          <h3 class="descripcion">AURICULARES RD</h3>
        </div>
      </div>
      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_GamingChairs_Corsair_T3_RUSH_01.webp" />
        <div class="general">
          <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
          <h3 class="descripcion">SILLA CORSAIR</h3>
        </div>
      </div>
    </section>
    <section class="destacados">
      <h2>PRODUCTOS DESTACADOS</h2>
      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_Mouse_Logitech_PRO_1.webp" />
        <div class="general">
          <h3 class="descripcion">MOUSE LOGI</h3>
        </div>
      </div>
      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_Keyboard_Logitech_G413_1.webp" />
        <div class="general">
          <h3 class="descripcion">TECLADO MECÁNICO</h3>
        </div>
      </div>

      <div class="articulo">
        <img id="producto" src="/img/product-detail/Product_Headset_Logitech_G733_1.webp" />
        <div class="general">
          <h3 class="descripcion">AURICULARES LOL</h3>
        </div>
      </div>
    </section>

    <section class="reviews">
      <h2>RESEÑAS DE CLIENTES</h2>
      <div class="review">
        <div class="reviewer">
          <h5>Gamer123</h5>
          <p>
            "Los productos que ofrece GameExperience son de lo mejor del mercado"
          </p>
        </div>
        <img src="\img\review_2.jpg" />
      </div>
    </section>
  </main>
  
  <footer>
    <p class="copy">Copyright © 2022 GamerXperience S.R.L.</p>
    <div class="redes">
        <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i> </a>
        <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i> </a>
        <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i>
        </a>
    </div>
</footer>


</body>

<script defer src="/js/carrousel.js"></script>

</html>