<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GamerXperience</title>
        <link rel="shortcut icon" href="/img/iso-bubble-negative.png" type="image/x-icon">
        <!--logo-icono de la pagina-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header class="site-header">
            <nav class="navbar">
                <a href="/" class="logo">
                    <img src="/img/iso-bubble-negative.svg" alt="">
                </a>
                <!--Podrian ir links a productos destacados de cada uno?-->
                <a href="#">Teclados</a>
                <a href="#">Mouse</a>
                <a href="#">Sillones</a>
                <a href='#'>Joysticks</a>
            </nav>
        </header>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h1 class="display-4">GamerXperience</h1>
                            <p class="lead">¡Bienvenido a GamerXperience!</p>
                            <hr class="my-4">
                            <p>¡Aquí encontrarás todo lo que necesitas para jugar a videojuegos!</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">¡Comienza ya!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer">
            <nav class="navegacion">
                <p class="copyright">GamerX - Todos los Derechos Reservados 2022 &copy; </p>
                <a href="/" class="logo">
                    <img src="/img/iso-bubble-negative.svg" alt="">
                </a>
            </nav>
            </div>
        </footer>
    </body>

</html>