<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamerXperience</title>
    <link
      rel="shortcut icon"
      href="/brand/iso-bubble-negative.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/d5d519f54c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div><i class="fa-solid fa-bars"></i></div>
      <a href="#">
        <img id="logo" src="\img\iso-light.svg" />
      </a>
      <div><i class="fa-solid fa-magnifying-glass"></i></div>

      <nav class="navbar">
        <!--Podrian ir links a productos destacados de cada uno?-->
        <a href="#">Teclados</a>
        <a href="#">Mouse</a>
        <a href="#">Sillones</a>
        <a href="#">Joysticks</a>
      </nav>
    </header>

    <main>
      <div class="carrousel">
        <h1><-- CARROUSEL --></h1>
      </div>

      <section>
        <h2>OFERTAS</h2>
        <div class="articulo">
          <img
            id="producto"
            src="\img\product_1.jpg"
          />
          <div class="general">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h3 class="descripcion">TECLADO</h3>
          </div>
        </div>
        <div class="articulo">
          <img
            id="producto"
            src="\img\product_2.jpg"
          />
          <div class="general">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h3 class="descripcion">MOUSE</h3>
          </div>
        </div>
        <div class="articulo">
          <img
            id="producto"
            src="\img\product_3.jpg"
          />
          <div class="general">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h3 class="descripcion">AURICULARES</h3>
          </div>
        </div>
      </section>

      <section>
        <h2>RESEÑAS DE CLIENTES</h2>
        <div class="review">
          <p>
            Los productos que ofrece GameExperience son de lo mejor del mercado
          </p>
          <img src="\img\review_1.jpg" />
        </div>
      </section>
    </main>

    <footer>
      <a id="logo_footer" href="#">
        <img id="logo" src="\img\iso-light.svg" />
      </a>

      <div class="redes">
        <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i> </a>
        <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i> </a>
        <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i> </a>
        <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i> </a>
      </div>
      <p class="copy">Copyright © 2022 GamerXperience S.R.L.</p>
    </footer>
  </body>
</html>
