<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GamerXperience</title>
        <link rel="shortcut icon" href="/img/bubble-light.svg" type="image/x-icon">
        <link rel="stylesheet" href="/css/register.css">
        <script src="https://kit.fontawesome.com/1366794178.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="/">
                <img id="logo" src="\img\iso-light.svg" />
            </a>
        </header>
        <main class="register" >
            <div class="register-title">
                <h1>Ingresá</h1>
            </div>
            <form action="/" method="get" class="register-container">
                <div class="control-formulario register-container">
                    <input type="text" name="username" placeholder="Nombre de usuario" class="text-input" required>
                </div>
                <div class="register-container">
                    <input type="password" name="password" placeholder="Contraseña" class="text-input" required>
                </div>
                <div class="register-container btns-container">
                    <button type="submit" class="btn-login">Ingresar</button>
                </div>
                <div class="register-container">
                    <a href="/" class="already-signed">
                        <p>¿Olvidaste tu contraseña?</p>
                    </a>
                     <a href="/register" class="already-signed">
                        <p>¿No tenés cuenta?</p>
                    </a>
                </div>
            </form>
        </main>
           <footer>
        <p class="copy">Copyright © 2022 GamerXperience S.R.L.</p>
        <div class="redes">
            <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i> </a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i> </a>
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i>
            </a>
        </div>
    </footer>
    </body>
</html>