<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamerXperience</title>
    <link
      rel="shortcut icon"
      href="/brand/iso-bubble-negative.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/product_detail_styles.css" />
    <script
      src="https://kit.fontawesome.com/d5d519f54c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="burger"><i class="fa-solid fa-bars"></i></div>
      <a href="/">
        <div class="logo"></div>
      </a>
  
      <div class="cart"><i class="fa-solid fa-cart-shopping"></i></div>
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <a href="/login"><i class="fa-solid fa-user"></i></a>
  
      <nav class="navbar">
        <!--Podrian ir links a productos destacados de cada uno?-->
        <a href="/product_detail_keyboard">TECLADOS</a>
        <a href="/product_detail_mouse">MOUSE</a>
        <a href="/product_detail_gamingchair">SILLONES</a>
        <a href="/product_detail_headset">AURICULARES</a>
      </nav>
    </header>

    <section>
      <div class="titulo"><h2>MOUSE</h2></div>
      <a href="product_detail_mouse_logitech">
        <div class="articulo">
          <img
            id="producto"
            src="/img/product-detail/Product_Mouse_Logitech_PRO_1.webp"
          />
          <div class="general">
            <h3 class="descripcion">MOUSE LOGITECH PRO</h3>
            <h4 class="model">EDICIÓN LoL</h4>
            <p class="precio">$13.599</p>
          </div>
          <div class="especificaciones">
            <p class="modelo">LOGITECH PRO</p>
            <p>ESPECIFICACIONES:</p>
            <p>MARCA: LOGITECH</p>
            <p>MODELO:EDICIÓN LOL</p>
            <p>TIPO: INALAMBRICO</p>
            <p>PESO: 250g</p>
            <p class="precio">PRECIO: $13.599</p>
            <button id="agregar" type="submit">Agregar al carrito</button>
          </div>
        </div>
      </a>

      <a href="product_detail_mouse_redragon">
        <div class="articulo">
          <img
            id="producto"
            src="/img/product-detail/Product_Mouse_REDRAGON_STORM_M808_1.webp"
          />
          <div class="general">
            <h3 class="descripcion">MOUSE REDRAGON</h3>
            <h4 class="model">STORM M808</h4>
            <p class="precio">$6.699</p>
          </div>
          <div class="especificaciones">
            <p class="modelo">REDRAGON STORM M808</p>
            <p>ESPECIFICACIONES:</p>
            <p>MARCA: REDRAGON</p>
            <p>MODELO: STORM M808</p>
            <p>TIPO: ANALÁMBRICO</p>
            <p>PESO: 300g</p>
            <p class="precio">PRECIO: $6.699</p>
            <button id="agregar" type="submit">Agregar al carrito</button>
          </div>
        </div>
      </a>
    </section>
    <footer>
      <a id="logo_footer" href="/">
        <div class="logo"></div>
      </a>

      <div class="redes">
        <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i> </a>
        <a href="https://instagram.com"
          ><i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i> </a>
        <a href="https://facebook.com"
          ><i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
      <p class="copy">Copyright © 2022 GamerXperience S.R.L.</p>
    </footer>
  </body>
</html>
