/* color: rgb(111,0,209);
  color: rgb(26,26,26);
  color: rgb(179,179,179) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  color: rgb(179, 179, 179);
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  min-width: 320px;
  position: relative;
}

header {
  color: rgb(179, 179, 179);
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.header-Container {
  width: 100%;
}

.header-Container_activo {
  position: fixed;
  height: 63.5px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 1.2s 0.2s;
}

.headerActions-Container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  background-image: URL(/img/iso-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 100%;
  height: 0;
}
.navbar-a {
  font-size: 0;
}

/* BurgerMenu styles empieza acá */

.burger {
  position: absolute;
  top: 14px;
  left: 30px;
  height: 23px;
}

.burger-Container {
  background-color: rgba(0, 0, 0, 0.9);
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media(max-width: 767px) {
  .burger.activo .bar:nth-child(2){
    opacity: 0;
  }
  
  .burger.activo .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    transition: all 0.7s;
  }
  
  .burger.activo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    transition: all 0.7s;
  }

  #productsActivo {
    font-size: 18px;
    transition: all 0.8s 0.2s;
  }

  .navbar-a.activo:nth-child(1) {
    font-size: 18px;
    transition: all 0.2s 0.2s;
  }

  .navbar-a.activo:nth-child(2) {
    font-size: 18px;
    transition: all 0.4s 0.4s;
  }

  .navbar-a.activo:nth-child(3) {
    font-size: 18px;
    transition: all 0.6s 0.6s;
  }

  .navbar-a.activo:nth-child(4) {
    font-size: 18px;
    transition: all 0.8s 0.8s;
  }

  .navbar-a.activo:nth-child(5) {
    font-size: 18px;
    transition: all 1s 1s;
  }

  .headerActions-Container.activo {
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 1.2s 0.2s;
  }
  .navbar.activo {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 63.5px;
    padding-bottom: 5px;
    align-items: center;
    border-bottom: 2px solid rgba(164, 89, 255);
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 1.2s 0.2s;
  }
  
  .navbar.activo .navbar-a {
    color: white;
    padding-left: 10px;
    font-weight: 700;
  }

  /* .userPanel.activo {
    position: initial;
    padding-bottom: 10px;
    padding-top: 5px;
  } */

  .fa-solid.fa-user.activo {
    font-size: 20px;
    color: white;
    transition: all 1s 0.6s;
  }
}

/* BurgerMenu styles termina acá */

.userProfile-img {
  height: 18px;
  width: 18px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
}

.userPanel {
  display: none;
  position: absolute;
  right: 47px;
  top: 18px;
  z-index: 1000;
  transition: all 1.2s 0.2s;
}

#userPanelImg {
  transition: all 1.2s 0.2s;
}

/*--------CENTRADO EL LOGO EN EL HEADER------*/
header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

/*--------TAMAÑO ICONOS/POSITION/FIJADO AL TOP------*/
.fa-bars,
.fa-magnifying-glass,
.fa-cart-shopping {
  height: 18px;
  width: 18px;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 17px;
  font-size: 23px;
}

.fa-user {
  height: 18px;
  width: 18px;
  color: white;
  font-size: 30px;
}

/*--------ICONO DE USER OCULTO------*/
/* Modifico linea porque la transicion directa  */
/* aplicada, de display none a block no es posible */
.fa-solid.fa-user {
  font-size: 0;
}

/*--------ALINEACIÓN MENU HAMBURGUESA------*/
.fa-bars {
  left: 30px;
}

/*--------ALINEACIÓN LUPA------*/
.fa-magnifying-glass {
  right: 30px;
}

/*--------ALINEACIÓN CARRITO------*/
.fa-cart-shopping {
  right: 70px;
  font-size: 23px;
}

/*--------ESTILOS <a>------*/
a {
  text-decoration: none;
}

/*--------ARTICULOS------*/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section-Detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
}

.titulo {
  margin: 20px 0 20px 0;
}

h4 {
  color: rgba(164, 89, 255);
  font-size: 1.3em;
}

.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.75);
  color: rgba(0,0,0,0.55);
  box-shadow: 5px 5px 10px;
  width: 80%;
  height: auto;
  margin: 20px;
  padding: 15px;  
  transition: all 0.3s ease-in-out;
}

.articulo-Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.75);
  color: rgba(0,0,0,0.55);
  box-shadow: 5px 5px 10px;
  width: 65%;
  height: auto;
  margin: 20px;
  padding: 15px;  
  transition: all 0.3s ease-in-out;
}

.articulo:hover .precio {
  background-color: rgb(212, 0, 255);
}

.articulo img {
  width: 80%;
  height: auto;
}

.articulo-Detail img {
  width: 80%;
  height: auto;
}

.img {
  width: 80%;
  text-align: center;
}
/*--------BOTON CARRITO------*/
.btn-agregar, .btn-edit, .btn-delete {
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(26,26,26,1);
  transition: all 0.3s ease-in-out;
}

.btn-agregar-Detail:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
  transform: scale(1.10);
}

.btn-agregar:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
  transform: scale(1.10);
}

.btn-agregar-Detail {
  padding: 10px;
  height: 55%;
  color: white;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(0,0,0,0.9);
  transition: all 0.3s ease-in-out;
}

.btn-edit {
  background-color: rgb(123, 125, 3);
}
.btn-delete {
  background-color: rgb(209, 0, 0);
}

.precio {
  color: rgba(255,255,255,1);
  border-radius: 5px;
  font-weight: bold;
  background-color: rgba(212, 0, 255, 0.35);
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
  font-size: 15px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.precio-Detail {
  color: rgba(255,255,255,1);
  border-radius: 5px;
  font-weight: bold;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.precio-Payments {
  font-size: 13px;
}

.detail-Container {
  background-color: rgba(0,0,0,0.5);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

.detail-Info {
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(255,255,255,1);
}

.detail-Description {
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(255,255,255,1);
}

.detail-Prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.detail-Cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
/*--------DESCRIPCIONES DE PRODUCTO------*/
.especificaciones {
  width: 80%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
}

.especificaciones-Detail {
  width: 65%;
  padding: 10px;
}


p.modelo {
  color: rgb(111, 0, 209);
  font-size: 1.4em;
  font-weight: bold;
}

.modelo-Detail {
  background-color: rgba(111, 0, 209, 0.45);
  color: rgba(255,255,255,1);
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}

.priceCart{
  text-align: center;
}

/*--------FOOTER------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(226, 222, 222);
  height: 50px;
  background-color: rgba(38, 38, 38, 0.61);
  margin-top: auto;
}

.redes {
  display: none;
}

@media (min-width: 768px) {
 
  /*--------HEADER CON NUEVA ALTURA------*/
  header {
    color: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 100%;
    position: relative;
  }

  .burger {
    display: none;
  }

  /*--------CAMBIO EL LOGO------*/
  .logo {
    width: 180px;
    background-image: url(/img/logo-light.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    width: 100%;
    min-width: 420px;
    max-width: 1200px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    justify-content: space-evenly;
  }
  

  .navbar-a {
    font-size: 23px;
    color: rgba(255,255,255,1);
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
    transition: 0.3s all ease-in-out;
  }

  .navbar-a:hover {
    filter: drop-shadow(5px 5px 10px rgba(162, 0, 255, 1));
    transform: scale(1.10);
  }

  #products {
    display: none;
  }

  /*--------ALINEACION USER------*/
  .fa-solid.fa-user {
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    padding-right: 8px;
    padding-top: 5px;
    transition: all 0.3s ease-in-out;
  }

  .fa-solid.fa-user:hover {
    transform: scale(1.10);
    color: rgb(212, 0, 255);
    filter: drop-shadow(5px 5px 10px rgba(162, 0, 255, 0.5));
  }


   #userPanelImg {
    position: relative;
    width: 50px;
    height: 50px;
    left: 5px;
    bottom: 8px;
    border-radius: 100%;
    padding: 10px;
    transition: all 1.2s 0.2s;
  }

  .userPanel {
    display: block;
    right: 68px;
    top: 18px;
  }

  /*--------ALINEACIÓN LUPA------*/
  .fa-magnifying-glass {
    right: 28px;
    top: 22px;
    font-size: 23px;
    transition: all 0.3s ease-in-out;
  }

  .fa-magnifying-glass:hover {
    transform: scale(1.10);
    color: rgb(212, 0, 255);
    filter: drop-shadow(5px 5px 10px rgba(162, 0, 255, 0.5));
  }

  /*--------ALINEACIÓN CARRITO------*/
  .fa-cart-shopping {
    right: 130px;
    top: 22px;
    font-size: 23px;
    transition: all 0.3s ease-in-out;
  }

  .fa-cart-shopping:hover {
    transform: scale(1.10);
    color: rgb(212, 0, 255);
    filter: drop-shadow(5px 5px 10px rgba(162, 0, 255, 0.5));
  }

  h2 {
    text-align: left;
    font-size: 40px;
    margin-left: 50px;
  }
  .titulo {
    width: 100%;
    border: solid 1px rgb(179, 179, 179);
    height: 120px;
  }

  .articulo-Detail {
    width: 80%;
  }

  .btn-agregar-Detail {
    height: 55%;
    margin: 0px;
  }

  .detail-Cart {
    display: flex;
    align-items: center;
    height: 80px;
  }

  section {
    padding-top: 30px;
  }

  .section-Detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .articulo {
    width: 25%;
  }

  .articulo:hover {
    transform: scale(1.10);
    color: rgba(162, 0, 255, 1);
    box-shadow: (5px 5px 10px);
  }

  h4 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .especificaciones {
    width: 30%;
    text-align: left;
    margin-left: 50px;
}

  footer a {
    color: rgb(226, 222, 222);
    padding-left: 10px;
  }

  .footer-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(226, 222, 222);
    height: 50px;
    background-color: rgba(38, 38, 38, .61);
    margin-top: auto;
    user-select: none;
    padding-right: 10px;
    padding-left: 10px;
  }

  .redes {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
}

@media (min-width: 448px) and (max-width: 768px) {
    section {
      height: 100%;
    }
}