/* color: rgb(111,0,209);
  color: rgb(26,26,26);
  color: rgb(179,179,179) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  color: rgb(179, 179, 179);
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  min-width: 375px;
  position: relative;
  min-height: 100vh;
}

header {
  color: rgb(179, 179, 179);
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  width: 100%;
  position: relative;
}

.logo {
  height: 60px;
  width: 60px;
  background-image: URL(/img/iso-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: none;
}

/*--------CENTRADO EL LOGO EN EL HEADER------*/
header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

/*--------TAMAÑO ICONOS/POSITION/FIJADO AL TOP------*/
.fa-bars,
.fa-magnifying-glass,
.fa-cart-shopping,
.fa-user {
  height: 18px;
  width: 18px;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 17px;
}

/*--------ICONO DE USER OCULTO------*/
.fa-solid.fa-user {
  display: none;
}

/*--------ALINEACIÓN MENU HAMBURGUESA------*/
.fa-bars {
  left: 30px;
}

/*--------ALINEACIÓN LUPA------*/
.fa-magnifying-glass {
  right: 30px;
}

/*--------ALINEACIÓN CARRITO------*/
.fa-cart-shopping {
  right: 80px;
}

/*--------ESTILOS <a>------*/
a {
  text-decoration: none;
}

/*--------ARTICULOS------*/
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.titulo {
  margin: 20px 0 20px 0;
}

h4 {
  color: rgb(111, 0, 209);
  font-size: 1.3em;
}
.articulo {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.articulo img {
  width: 80%;
  height: auto;
}

.img {
  width: 80%;
  text-align: center;
}
/*--------BOTON CARRITO------*/
#agregar {
  padding: 10px;
  color: white;
  border-radius: 10px;
  background-color: rgb(111, 0, 209);
}

p {
  font-size: 1.1em;
}
/*--------DESCRIPCIONES DE PRODUCTO------*/
.especificaciones {
  width: 80%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
}
p.modelo {
  color: rgb(111, 0, 209);
  font-size: 1.4em;
  font-weight: bold;
}
p.description {
  margin: 20px 0 20px 0;
}
.priceCart{
  text-align: center;
}

/*--------FOOTER------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(226, 222, 222);
  height: 50px;
  background-color: rgba(38, 38, 38, 0.61);
  margin-top: auto;
}

.redes {
  display: none;
}

@media (min-width: 768px) {
  /*--------HEADER CON NUEVA ALTURA------*/
  header {
    color: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 100%;
    position: relative;
  }

  .burger {
    display: none;
  }
  /*--------CAMBIO EL LOGO------*/
  .logo {
    height: 60px;
    width: 300px;
    background-image: url(/img/logo-light.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  nav {
    width: 70%;
    min-width: 420px;
    max-width: 840px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 20px;
    justify-content: space-evenly;
  }

  /*--------ALINEACION USER------*/
  .fa-solid.fa-user {
    display: block;
    right: 80px;
  }

  /*--------ALINEACIÓN LUPA------*/
  .fa-magnifying-glass {
    right: 30px;
  }

  /*--------ALINEACIÓN CARRITO------*/
  .fa-cart-shopping {
    right: 130px;
  }
  h2 {
    text-align: left;
    font-size: 40px;
    margin-left: 50px;
  }
  .titulo {
    width: 100%;
    border: solid 1px rgb(179, 179, 179);
    height: 120px;
  }

  section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .articulo{
    width: 30%;
  }
  h4 {
    
    font-size: 1.1em;
  }
  .especificaciones {
    width: 30%;
    height: auto;
    text-align: left;
    margin-bottom: 10px;
}
  footer {
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position:sticky;
        
  }

  footer a {
    color: rgb(226, 222, 222);
    padding-left: 10px;
  }

  .redes {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
}
