/* color: rgb(111,0,209);
  color: rgb(26,26,26);
  color: rgb(179,179,179) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  color: rgb(179, 179, 179);
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  min-width: 375px;
  position: relative;
}

header {
  color: rgb(179, 179, 179);
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  width: 100%;
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.logo {
  height: 60px;
  width: 60px;
  background-image: URL(/img/iso-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: none;
}

/*--------CENTRADO EL LOGO EN EL HEADER------*/
header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
}

/*--------TAMAÑO ICONOS/POSITION/FIJADO AL TOP------*/
.fa-bars,
.fa-magnifying-glass,
.fa-cart-shopping,
.fa-user {
  height: 18px;
  width: 18px;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 17px;
}

/*--------ICONO DE USER OCULTO------*/
.fa-solid.fa-user {
  display: none;
}

/*--------ALINEACIÓN MENU HAMBURGUESA------*/
.fa-bars {
  left: 30px;
}

/*--------ALINEACIÓN LUPA------*/
.fa-magnifying-glass {
  right: 30px;
}

/*--------ALINEACIÓN CARRITO------*/
.fa-cart-shopping {
  right: 80px;
}

/*--------ESTILOS <a>------*/
a {
  text-decoration: none;
}

/*--------ARTICULOS------*/
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 30px 0;
  border-top: solid 1px rgb(179, 179, 179);
}

.articulo img {
  width: 80%;
}

.articulo h3 {
  color: rgb(111, 0, 209);
}

/*--------OCULTA ESPECIFICACIONES PARA VIEW DESKTOP------*/
.especificaciones {
  display: none;
}


/*--------FOOTER------*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: solid 1px rgb(179, 179, 179);
  width: 100%;
}

.copy {
  width: 100%;
  color: white;
  font-size: 1em;
  padding: 16px;
}

.fa-brands {
  padding: 10px;
}

.redes {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
}

/* CSS DEL CARROUSEL!!! */

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  height: 100vh;
  position: relative;
  margin: auto;
  top: -64px;
  z-index: 0;
  left: 0;
}

.carrousel-imgs {
  height: 100vh;
  width: 100%;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.dot-style {
  text-align: center;
  position: relative;
  bottom: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  align-items: center;
}

/* --------DEFAULT SLIDE INFORMATION CSS------ */
.slide-info {
  position: absolute;
  top: 75%;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 1023px;
}

.slide-info h1 {
  color: white;
}

.slide-info button {
  background-color: rgba(164, 89, 255);
  color: white;
  font-weight: bold;
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}

.slide-info button:hover {
  cursor: pointer;
  background-color: rgb(111, 0, 209);
}

/* --------SPECIFIC CSS FOR EACH SLIDE------ */
.slide-1 {
  top: 18%;
}

.slide-4 {
  top: 67%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgba(185, 99, 235, 0.5);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (min-width: 768px) {

  /*--------HEADER CON NUEVA ALTURA------*/
  header {
    color: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 100%;
    position: relative;
  }

  .burger {
    display: none;
  }

  /*--------CAMBIO EL LOGO------*/
  .logo {
    height: 60px;
    width: 300px;
    background-image: url(/img/logo-light.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    width: 70%;
    min-width: 420px;
    max-width: 840px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    justify-content: space-evenly;
  }

  /*--------ALINEACION USER------*/
  .fa-solid.fa-user {
    display: block;
    right: 80px;

  }

  /*--------ALINEACIÓN LUPA------*/
  .fa-magnifying-glass {
    right: 30px;
  }

  /*--------ALINEACIÓN CARRITO------*/
  .fa-cart-shopping {
    right: 130px;
  }

  /*--------SLIDES INFO------*/
  .mySlides {
    justify-content: center;
  }

  .slide-info {
    bottom: 10%;
  }

  .slide-1 {
    left: -2%;
  }

  .slide-4 {
    top: 73%;
  }

  .titulo {
    width: 100%;
    border: solid 1px rgb(179, 179, 179);
    height: 120px;
  }

  /*--------NEXT/PREVIOUS ARROWS SIZE------*/
  .prev,
  .next {
    font-size: 38px;
  }

  /*--------ARTICULOS------*/
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .articulo {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 30px 0 30px 0;
    border-top: none;
    align-items: center;
  }

  .articulo img {
    width: 55%;
    align-items: center;
    max-width: 500px;
    margin-left: 50px;
  }

  .articulo .modelo {
    color: rgb(111, 0, 209);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .general {
    display: none;
  }

  /*--------DESACTIVA LINKS ARTICULO------*/
  section a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    width: 100%;
  }

  /*--------DESCRIPCIONES DE PRODUCTO------*/
  .especificaciones {
    display: block;
    width: 320px;
    height: 220px;
    margin: 100px;
  }

  /*--------BOTON CARRITO------*/
  #agregar {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: rgb(111, 0, 209);
  }

  /*--------FOOTER TABLET/DESKTOP-----*/

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid 1px rgb(179, 179, 179);
    width: 100%;
    height: 70px;
    position: relative;
  }

  .redes {
    position: absolute;
    font-size: 30px;
    right: 5px;
    bottom: 12.5px;
    width: 200px
  }

  .copy {
    position: absolute;
    font-size: 10px;
    left: 10px;
    bottom: 12.5px;
    width: 250px
  }

  .slideshow-container {
    top: -120px;



  }
}

@media (min-width: 1024px) {

  /*--------SLIDES INFO------*/
  h2 {
    text-align: left;
    font-size: 40px;
    margin-left: 50px;
  }

  .slide-4 {
    top: 74%
  }
}