<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/headerForm') %>

            <main class="register">
                <div class="register-title">
                    <h1>Ingresá</h1>
                </div>
                <ul class="errorList"></ul>
                <form action="/users/login" method="POST" class="register-container">
                    <div class="control-formulario register-container">
                        <input type="text" name="email" placeholder="Email de usuario" class="text-input" >
                    </div>
                    <div class="register-container">
                        <input type="password" name="password" placeholder="Contraseña" class="text-input" id="pwd">
                        <span>
                            <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                        </span>
                        </div>
                        <div class="register-container">
                            <input type="checkbox" name="remember_me" id="remember_me" />
                                <label for="remember_me" class="form-label"> Recordar mi usuario</label>
                        </div>
                    <div class="register-container btns-container">
                        <button type="submit" class="btn-login">Ingresar</button>
                    </div>
                    <div class="register-container">
                        <a href="/" class="already-signed">
                            <p>¿Olvidaste tu contraseña?</p>
                        </a>
                        <a href="/users/register" class="already-signed">
                            <p>¿No tenés cuenta?</p>
                        </a>
                    </div>

                    </form>
                    <% if(typeof errors != "undefined") { %>
                            <h4 class="mensajeError"><%= errors %></h4>
                    <% } %>
            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

                <script src="/js/userLoginValidation.js"></script>
                <script src="/js/show_hide_pw.js"></script>
    </body>

</html>