<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/headerForm') %>

            <main>
                <div class="register">
                    <div class="register-title">
                        <h1>Crear Producto</h1>
                    </div>
                    <form action="/" method="GET">
                        <div class="register-container">
                            <label for="marca">Marca</label>
                            <input type="text" name="marca" id="marca" class="text-input" required />
                            <!-- <span>
                        <i class="fa fa-user-circle form-icons"></i>
                    </span> -->
                        </div>

                        <div class="register-container">
                            <label for="modelo">Modelo</label>
                            <input type="text" name="modelo" id="modelo" class="text-input" required />
                        </div>

                        <div class="register-container">
                            <label for="tipo">Tipo</label>
                            <input type="text" name="tipo" id="tipo" class="text-input" required />
                        </div>

                        <div class="register-container">
                            <label for="peso">Peso</label>
                            <input type="text" name="peso" id="peso" required />
                        </div>

                        <div class="register-container">
                            <label for="distribucion">Distribución</label>
                            <input type="text" name="distribucion" id="distribucion" class="text-input" required />
                        </div>

                        <div class="register-container">
                            <label for="precio">Precio</label>
                            <input type="text" name="precio" id="precio" class="text-input" required />
                        </div>

                        <div class="register-container">
                            <label for="imagenProducto">Imagen</label>
                            <input type="file" name="imagenProducto" id="imagenProducto" required />
                        </div>

                        <div class="btns-container">
                            <button type="submit" name="enviar" class="btn-crud">
                                CREAR
                            </button>
                            <button type="reset" name="enviar" class="btn-crud">
                                DESCARTAR
                            </button>
                        </div>
                    </form>

                </div>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer') %>

                <script src="/js/show_hide_pw.js"></script>
    </body>

</html>